.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease;
}

.link:hover {
  color: #4ca8af;
}

.active {
  color: #287171;
  font-weight: 700;
}

@media (max-width: 426px) {
  .link {
    font-size: 18px;
    color: #333;
  }

  .link:hover {
    color: #4ca8af;
  }

  .active {
    color: #287171;
    font-weight: 700;
  }
}
