.card-container {
  display: flex;
  width: 100%;
  border-radius: 20px;
  margin: 20px auto;
  background: linear-gradient(180deg, #f8f8f8, #d9e6e6);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.card-img {
  width: 50%;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  object-fit: cover;
  flex-shrink: 1;
}

.card-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 40px;
  color: #444;
}

.card-title {
  font-size: 35px;
  margin: 0;
  color: #275e5e;
}

.location {
  font-size: 25px;
  margin: 0;
  color: #287171;
}

.description {
  font-size: 18px;
  margin: 0;
  text-align: left;
  color: #444;
}

.card-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.delete-button,
.edit-button {
  width: 33%;
  border-radius: 10px;
  padding: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.delete-button {
  border: 1px solid #d32f2f;
  color: #d32f2f;
}

.delete-button:hover {
  background-color: #d32f2f;
  color: #fff;
}

.edit-button {
  border: none;
  background-color: #287171;
  color: #fff;
}

.edit-button:hover {
  background-color: #275e5e;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }

  .card-img,
  .card-info {
    width: 100%;
  }
}

@media (max-width: 426px) {
  .card-title {
    font-size: 30px;
  }

  .card-img {
    max-height: 150px;
  }

  .location {
    font-size: 24px;
    text-align: center;
  }

  .description {
    font-size: 18px;
    text-align: center;
  }
  .card-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .edit-button,
  .delete-button {
    width: 100%;
  }
}
