.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*inset: 0*/
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 500px;
  height: 90vh;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
}

.modal-form {
  width: 100%;
  height: 100%;
  padding: 30px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  background: linear-gradient(180deg, #f4f9f9, #d9e6e6);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.x-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 35px;
  height: 35px;
  border: 1px solid #d32f2f;
  border-radius: 50%;
  background-color: #fff;
  color: #d32f2f;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-button:hover {
  font-weight: bolder;
  color: #fff;
  background-color: #d32f2f;
}

.modal-form h2 {
  color: #275e5e;
  font-size: 32px;
  margin: 10px auto 0;
}

.modal-form h3 {
  color: #275e5e;
  margin: 10px auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 20px;
  flex: 1;
  overflow-y: auto;
  padding: 0px 4px;
}

.top-inputs-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-control label {
  color: #275e5e;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-control input {
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 10px 12px;
  font-size: 14px;
  background-color: #fff;
  color: #333;

  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input-control input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4ca8af;
}

.input-control textarea {
  min-height: 80px;
  max-height: 110px;
  width: 100%;
  resize: none;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: 15px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input-control textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4ca8af;
}

.hidden-file-input {
  display: none;
}

.file-upload {
  cursor: pointer;
}

.control-error {
  color: #d32f2f;
  font-size: 13px;
  min-height: 18px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 4px auto;
}

.close-button,
.save-button {
  width: 30%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.save-button {
  border: none;
  background-color: #287171;
  color: #fff;
}

.save-button:hover {
  background-color: #275e5e;
}

.save-button:disabled {
  background-color: #9bbcbc;
  cursor: not-allowed;
  opacity: 0.7;
}

.close-button {
  border: 1px solid #d32f2f;
  background-color: #fff;
  color: #d32f2f;
}

.close-button:hover {
  font-weight: bolder;
  background-color: #d32f2f;
  color: #fff;
}

@media (max-width: 1024px) {
  .x-button {
    width: 26px;
    height: 26px;
    font-size: 18px;
  }

  .modal-form h2 {
    margin: 0 auto;
    font-size: 30px;
  }

  .modal-form h3 {
    margin: 0 auto;
  }

  .input-container {
    gap: 0;
  }

  .form-buttons {
    margin: 0;
  }
}

@media (max-width: 426px) {
  .close-button,
  .save-button {
    width: 30%;
  }
}
